<<<<<<< HEAD
/* Début Aymeric */
#manuImg{
  width: 50%;
  margin-left: 35%;
}
#panierVide{
  position: absolute;
  top: 34%;
  left: 85%;
}
#navGauche{
  position: fixed;
  left: 5%;
  text-align: center;
}
#categ{
  margin-top: 23%;
  border-bottom: 2px solid #87CEEB;
}
.nav-link{
  margin-top: 8%;
  color: black;
}
.nav-border{
  border-bottom: 2px solid #87CEEB;
}
#fleche{
  width: 5%;
  position: fixed;
  bottom: 2%;
  left: 2%;
=======
/* Aline */
.quantite{
  height: auto;
  width: 60px;

>>>>>>> d7a6e37e936f614cfc92e04eb16819016db8d151
}
