<<<<<<< HEAD
.carousel-img-promo {
  width: 100%;
}
.promo {
  position: relative;
  width: 100%;
}
.caption{
  color: #FFF;
  font-weight: bold;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.7);
}
.img-parte{
  width: 8%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: 2%;
  margin-bottom: 5%;
}
.img-parte:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.parte{
  margin-top: 3%;
}
.hr-carousel{
  background-color: #FFF;
  width:75%;
}
.carousel-lien:hover{
  text-decoration: none;
}
=======
/* Aline */
.quantite{
  height: auto;
  width: 60px;

>>>>>>> d7a6e37e936f614cfc92e04eb16819016db8d151
}
